body {
    background-color: #424650d1;
}

/* header */
.main-header {
    height: 100px;
    background-color: #30343f;
    border-bottom: 3px solid #75787f;
    padding: 0 30px;
}

.main-nav {
    width: 100%;
    height: 100%;
}

.main-nav a {
    height: 100%;
}

.main-nav a {
    width: 100px;
    height: 100%;
}

.top-container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.search-box {
    flex: 1;
}

.keywords {
    flex: 1;
}

.search-input {
    height: 30px;
    width: 70%
}

.tag-item {
    cursor: pointer;
    margin: 2px;
    background-color: #ed254e;
    padding: 3px 13px;
    border-radius: 8px;
}

.card {
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    opacity: 0.7;
}

.card i, .card p {
    font-size: 2.3vw;
}

.card-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    transition: .3s;
}

.card-img:hover {
    opacity: 0.7;
}

.pagination:before {
    display: inline-block;
    filter: blur(5px);
}

.pagination {
    display: inline-block;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.pagination a {
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0.5);
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #ed254e;
    color: white;
    border: 1px solid #ed254e;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.uploadModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0,0,0); */
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    padding: 10px;
    padding-top: 0;
    width: 80%;
}

.upload-content {
    flex-direction: column;
    padding: 3%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-upload {
    flex: 1;
    width: 100%;
    font-weight: 600;
}

.upload-input {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#image_uploads {
    cursor: pointer;
    border: none;
}

/* hexagon gallery */
.gallery {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

@media(min-width: 800px) {
    .gallery {
        width: 70%;
    }
}

@media(min-width: 1000px) {
    .gallery {
        width: 60%;
    }
}

.gallery-container:after {
    content: "";
    display: block;
    clear: both;
    padding-bottom: 100px;
}

.gallery li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    transform: rotate(-60deg) skewY(30deg);
    background: #30343f;
    overflow: hidden;
    visibility: hidden;
}

.gallery li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #30343f;
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
}

.gallery li * {
    visibility: visible;
}

.gallery li:nth-child(3n+2) {
    margin: 0 1%;
}

.gallery li:nth-child(6n+4), .gallery li:nth-child(6n+5), .gallery li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
  
.gallery li:nth-child(6n+4) { 
    margin-left: 0.5%;
}

.form-group {
    width: 360px;
    height: 70px;
    background: #fff;
    position: absolute;
    border-radius: 50px;
  }
  
  .form-group .form-body {
    height: 70px;
    overflow: hidden;
    border-radius: 50px;
  }
  
  .form-group .form-body .error-text {
    position: absolute;
    left: 80px;
    top: 4px;
    z-index: 25;
    color: #b71c1c;
    font-size: 10px;
    font-weight: 600;
    display: none;
  }
  
  .form-group .form-body .form-controls {
    position: relative;
    z-index: 5;
    transition: ease-in 0.2s;
    top: 0;
  }
  
  .form-group .form-body .form-controls input {
    display: block;
    width: 100%;
    height: 70px;
    padding: 10px 60px 10px 80px;
    font-size: 18px;
    color: #666;
    border: none;
  }
  
  .form-group .form-body .form-controls input:focus {
    outline: none;
  }
  
  .form-group .form-head {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 100%;
    background: #f50057;
    border-radius: 50px;
    text-align: center;
    line-height: 70px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    z-index: 40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: ease-in 0.2s;
  }
  
  .form-group .form-head .text {
    display: block;
  }
  
  .form-group .form-head .text:before {
    font-family: "Open Sans", sans-serif;
  }
  
  .form-group .form-action {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fefefe;
    text-align: center;
    right: 10px;
    top: 50%;
    border-radius: 50px;
    transform: translateY(-50%);
    z-index: 50;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    color: inherit;
  }
  
  .form-group .form-action:hover {
    background: #f9f9f9;
  }
  
  .form-group .form-action .icon-action {
    transition: ease-in 0.2s;
  }
  
  .form-group .form-action .icon-action:after {
    line-height: 50px;
    content: "arrow_forward";
  }
  
  .form-group .form-action .icon-action.back {
    transform: rotate(180deg);
  }
  
  .form-group .icon-placeholder {
    font-size: 40px;
    line-height: 70px;
  }
  
  .form-group#help {
    color: #fff;
  }
  .form-group#help .form-head {
    width: 100%;
  }
  .form-group#help .form-head .icon-placeholder {
    display: none;
  }
  .form-group#help .form-head .text {
    display: block;
  }
  .form-group#help .form-head .text:before {
    content: "Contact Us";
  }
  
  .form-group#help .form-action {
    background: none;
    line-height: 65px;
  }
  
  .form-group#help .form-action .icon-action.back {
    transform: rotate(0);
  }
  
  .form-group#submit {
    color: #fff;
  }
  
  .form-group#submit .form-head {
    width: 100%;
    background: #00e676;
  }
  
  .form-group#submit .form-head .icon-placeholder {
    display: none;
  }
  
  .form-group#submit .form-head .text {
    display: block;
  }
  
  .form-group#submit .form-head .text:before {
    content: "Submit";
  }
  
  .form-group#submit .form-action {
    right: 30px;
    background: none;
    line-height: 65px;
  
  }
  
  .form-group#submit .form-action .icon-action.back {
    transform: rotate(0);
  }
  
  .form-group#submit .form-action .icon-action:after {
    content: "mood";
  }
  
  .form-group#name {
    color: #9c27b0;
  }
  
  .form-group#name .form-head {
    background: #9c27b0;
  }
  
  .form-group#name .form-head .icon-placeholder:after {
    content: "face";
  }
  
  .form-group#email {
    color: #009688;
  }
  
  .form-group#email .form-head {
    background: #009688;
  }
  
  .form-group#email .form-head .icon-placeholder:after {
    content: "email";
  }
  
  .form-group#email .form-body .form-controls {
    top: -70px;
  }
  .form-group#text {
    color: #fceb00;
  }
  
  .form-group#text .form-head {
    background: #fceb00;
  }
  
  .form-group#text .form-head .icon-placeholder:after {
    content: "comment";
  }
  
  .form-group#email .form-body .form-controls {
    top: -70px;
  }
  
  .form-group.error .form-head {
    background: #b71c1c !important;
  }
  .form-group.error .form-head .icon-placeholder:after {
    content: "close" !important;
  }
  
  .material-icons, .form-group .form-action .icon-action,
  .icon-placeholder {
    font-family: "Material Icons", cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }

  footer {
      display: flex;
      height: 100px;
      width: 100vh;
  }

  .container-form {
      display: flex;
      height: 100px;
  }