/* section */

header {
    position: sticky;
}

.welcome {
    background: url('../img/cover.jpg') no-repeat center;
    background-size: auto 100%;
    background-color: gray;
    height: calc(100vh - 100px);
    font-size: 30px;
}

path {
    fill: transparent;
}

text {
    fill: #FF9800;
}

.top-container {
    justify-content: center;
    align-content: center;
}

.search-box {
    height: 100px;
}

.search-input {
    margin-top: 25%;
}

.gallery-container {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(5, 200px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}

.card-img {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    cursor: pointer;
}

.pagination:before {
    display: inline-block;
    filter: blur(5px);
}

.pagination {
    display: inline-block;
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0.5);
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}