.control {
    width: 100%;
    border: 1px solid black;
}

#my-canvas {
    border: 1px solid blue;
}

.modal {
    display: none;
    border: 1px solid #000000ab;
    background-color: #ffffffb3;
    width: fit-content;
    padding: 20px;
    position: absolute;
}

.d-block {
    display: block;
}