body {
	background-color: #30343f;
	color: white;
	width: 100%;
	max-width: 100vw;
}

.main-header {
	background-color: #424650d1;
	border-bottom: 3px solid #75787f;
	margin-bottom: 20px;
	padding: 10px 20px;
}

.back {
	background-color: #ed254e;
	color: white;
	border: none;
	border-radius: 3px;
	text-align: center;
	padding: 5px 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1em;
    transition: .2s;
}

.back:hover {
	background-color: #f04c6e;
}

#my-canvas {
	position: absolute;
}

.meme-container {
    position: relative;
    font-family: Impact, sans-serif;
    left: 25px;
	margin-bottom: 150px;
}

@media(min-width: 700px) {
    .meme-container {
        left: 25vw
	}
}

.lines-container {
	position: relative;
	width: 100%;
}

.row {
    cursor: pointer;
    touch-action: none;
    user-select: none;
    text-align: center;
    position: absolute;   
    outline: none;
    color: black;
    background: none;
    border: none;
    font-size: 60px;
}

.row:focus {
    border: 1px dashed black;
}

::placeholder {
	font-family: impact;
	color: black;
}

.modal {
    display: none;
    border: 1px solid #000000ab;
    background-color: #ffffffb3;
    width: fit-content;
    padding: 20px;
    position: absolute;
}

.d-block {
    display: block;
}

input[type="text"] {
    position: absolute;
    align-content: center;
    color: transparent;
}

.control {
	position: fixed;
    width: 100%;
	height: 70px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	vertical-align: middle;
	background-color: #424650;
	color: white;
	bottom: 0;
}

@media(min-width: 700px) {
    .control {
        height: 120px;
	}
}

.control-item {
	flex: 1;
	height: 100%;
	cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-item:hover {
	background-color: #75787f
}

.control-item.fontSizing {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.control-item > h6 {
	font-size: 1.5em;
}

button.control-item {
	background-color: rgba(255, 255, 255, 0);
	color: white;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
}

.control-color-btn {
	appearance: none;
    border: none;
    background: 0;
}

.changeSize {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hide {
	display: none;
}

/* fonts modal */

.fontModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    padding: 10px;
    padding-top: 0;
	width: 50%;
	text-align: center;
}

.font-content {
    padding: 3%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.more-room {
	position: static;
	display: none;
	bottom: 0;
	height: 250px;
	width: 100vw;
}
