/* fonts */
@font-face {
    font-family: impact;
    src: url('fonts/impact/impact.ttf');
}

.meme-container {
    flex-direction: column;
}

.control {
    background-color: black;
}

#my-canvas {
    border: 1px solid blue;
}