/* Base */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 2.5em;
}

i {
    margin-bottom: 3px;
}

.hide {
	display: none;
}

/* flex */
.flex {
    display: flex;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.space-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* grid */
.grid {
    display: grid;  
}